.container {
    padding: 0 2rem;
}

.nav {
    position: absolute;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15%;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    gap: 7%;
    justify-content: center;
}

.footer {
    display: flex;
    padding: 0 2rem;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid var(--pure-black);
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.langSwitcher {
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: flex-start;
}

.langSwitcher {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    transform: translateY(5px);
    margin: 0;

    font-weight: normal;
    position: relative;
}

.langSwitcher [data-language-switcher] {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease-in;
}

.langSwitcher [data-is-current="true"] {
    cursor: default;
}
.langSwitcher [data-is-current="true"],
.langSwitcher [data-language-switcher]:hover,
.langSwitcher [data-language-switcher]:focus,
.langSwitcher [data-language-switcher]:active {
    color: var(--pure-white);
}
.langSwitcher [data-language-switcher]::after {
    content: "";
    bottom: 7px;
    left: 7px;
    width: 0;
    height: 1px;
    background-color: var(--pure-white);
    position: absolute;
    transition: all 0.25s ease-in;
}
.langSwitcher [data-is-current="true"]::after,
.langSwitcher [data-language-switcher]:hover::after {
    width: calc(100% - 15px);
}
